<!-- Toolbar -->
<mat-toolbar class="header">
    <div>Logipool Infotech</div>
    <span class="nav-tool-items">
        <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
    </span>
</mat-toolbar>

<mat-sidenav-container>
    <!-- Sidenav -->
    <mat-sidenav  #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
        [fixedTopGap]>
        <mat-nav-list>
            <!-- <div>
                <p>www.logipool.in</p>
            </div> -->
            <a mat-list-item routerLinkActive="active"  routerLink="/addemployee">
                <mat-icon >add</mat-icon> Add Vender
            </a>
            <a mat-list-item routerLinkActive="active"  routerLink="/viewemployee">
                <mat-icon>format_list_bulleted</mat-icon> View Vender
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <!-- Main content -->
    <mat-sidenav-content>
        <router-outlet></router-outlet>
        <!-- <app-navigation></app-navigation> -->
    </mat-sidenav-content>
</mat-sidenav-container>
