.header{
    background-color: rgba(186, 85, 211, 0.705);
}
.mat-sidenav{
    background-color: rgba(135, 207, 235, 0.322);
}
.mat-nav-list{
    background-color: rgba(186, 85, 211, 0.705);
}
.mat-list-item:hover{
    background-color: rgba(135, 207, 235, 0.13);
    }

