.header{
    background-color: red;
    color: white;
   padding-left: 40px;
    text-shadow: 10px 10px 10px grey;
    
    
}
.mat-sidenav{
    background-color:rgba(0, 0, 0, 0.705);
    color: white;
    
      
}
// .mat-nav-list{
//     background-color: rgba(186, 85, 211, 0.705);
//     color: white;

// }
.mat-list-item:hover{
    background-color: red;
    color: white;
    }

