#navMatcard{
    position: relative;
    top: 10px;
    left: 10px;
    // max-width: 1800px;
    background: #f5f5f500;
}
#toolbar1{
    background-color: rgba(0, 0, 0, 0) !important;
}
  
.regi1{
   font-size: 40px;
   font-weight: bolder;
   color: rgb(7, 7, 7)!important;
   margin-left: 35%;
   border: px solid rgba(35, 24, 160, 1.53);
}
